@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
body{
color:#222;
}
p{
color:#555;
}
header{
padding-bottom:20px;
}
.navigation{
background:rgba(0,0,0,0.29);
}
::-webkit-scrollbar{
width:8px;height:8px;
overflow:visible;
background:inherit;
}
::-webkit-scrollbar-track{
border:solid;
border-width:0 0 0 1px;
border-color:#c1c1c4;
}
::-webkit-scrollbar-track:horizontal{
border-width:1px 0 0;
}
::-webkit-scrollbar-track:hover{
background-color:#d3d3d5;border-color:#a7a7ab;
}
::-webkit-scrollbar-track:active{
background-color:#dbdbdd;border-color:#b4b4b7;
}
::-webkit-scrollbar-thumb{
border:solid transparent;background-color:#b4b4b7;
}
::-webkit-scrollbar-thumb:hover{
background-color:#b40015;
}
::-webkit-scrollbar-thumb:active{
background-color:#81000f;
}
::-webkit-scrollbar-thumb:window-inactive{
background:#9a9a9e;
}
.heroaza{
background:url(../../img/index/1490614175-8633.png)
bottom no-repeat,url(../../img/index/1490700825-8654.png)
no-repeat right,
url(../../img/index/1490614175-5576.png),
url(../../img/index/1494115124-9696.jpeg) #A81A2C;
min-height:574px;
background-size:100% 134px,78%,1px,cover;
}
.herozz{
background:url(../../img/index/1490614175-8633.png)
bottom no-repeat,url(../../img/index/1490614177-189.png) 81% 72% no-repeat,
url(../../img/index/1490700825-8654.png) no-repeat right,
url(../../img/index/1490614175-5576.png),
url(../../img/index/1491077302-9283.jpeg) #A81A2C;
min-height:574px;
background-size:100% 134px,449px,78%,1px,cover;
}
.hero{
background:
/*url(../../img/index/1490614175-8633.png)*/ bottom no-repeat,
url(../../img/index/1494768661-2158.png) 97% 69% no-repeat,
url(../../img/index/1490700825-8654.png) no-repeat right,
url(../../img/index/1490614175-5576.png),
url(../../img/index/1494782757-231.png) center #A81A2C;
min-height:574px;
background-size:100% 134px,1024px,78%,1px,cover;
}
.hero h1{
color:#fff;
font-size:40px;
margin-bottom:23px;
}
.hero .hero-content{
padding-top:190px;
}
.testimonial-slider{
background:url(../../img/index/1477987535-0003.png) no-repeat center center;
background-size:cover;
}
.btn-fill{
color:#fff;
border:solid 2px #F08996;
background-color:#A81A2C;
}
.btn-fill:hover, .btn-fill:focus{
border:solid 2px #53bdf9;background-color:#2a9cde;
}
.signup-form .form-input-group i{
color:#A81A2C;
}a{
color:#b55a66;
}
.signup-form .form-input-group input{
border:1px solid #dddfe2;
border-radius:3px;
}
.flex-control-nav{
bottom:0;
}
.hero p.intro{
margin-bottom:24px;
}
.fixed{
background:rgba(0,0,0,0.29)!important;
border-bottom:1px solid #143546;
}
@media screen and (min-width: 992px) {
.adow_hotelzz{
background:url(../../img/index/1487022064-6702.png) 79% -25px no-repeat;
height:487px;
width:842px;
padding-top:29%;
}
.adow_hotel{background:url(../../img/index/1494113930-7428.png) 51% -4px no-repeat;
height:805px;
width:785px;
position:absolute;
z-index:9;
-webkit-transition:1s;
transition:1s;
}
.adow_hotel:hover{
opacity:0.2;
-webkit-transition:1s;
transition:1s;
}
}footer{
background-color:#fff;
position:relative;
box-shadow:0px 0px 4px rgba(0,0,0,0.65);
}footer .social-share{
background-color:#fff;
}footer a{
color:#444;
}footer .social-share p{
color:#444;
}footer p{
color:#333;font-size:13px;
}footer .footer-links{
margin:28px 0 0px 0;
}footer ul.footer-group{
border-top:none;
padding-top:25px;
margin-bottom:45px;
}footer .social-share{
padding:47px 0 0 70px;
}
.intro-icon{
margin-right:6px;
margin-top:10px;
border-radius:7px;
}
.features-extra .inscription-wrap{
width:664px;
height:620px;
}
.ordi_msg{
background:#0d944e;
border:2px solid #76b546;
}
.ordi_msg:hover,
.ordi_msg:focus{
background:#00ab54;
border:2px solid #b9f373;
}
.heading__description__wrapper{
border-left:20px solid #fff;
margin:34px 2px;
margin-top:-7px;
max-width:559px;
opacity:.85;
}
.heading__description__container{
-webkit-font-smoothing:initial;
-moz-osx-font-smoothing:initial;
background-color:#fff;
color:#000;
display:inline;
font-family:'Ubuntu',sans-serif;
line-height:44px;
padding:10px 0;
pointer-events:auto;
text-transform:none;
font-weight:300;
font-size:1.5em;
}
.heading__description{
position:relative;left:-10px;
}#ordi_message{
box-shadow:0 3px 0 1px rgba(0,0,0,.3);
border-radius:3px;
padding:29px 38px;
font-size:17px;
margin-top:-19px;
position:absolute;
right:-231px;
bottom:123px;
font-weight:600;
}
#a_19e2_0{
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
background-color:rgba(0,0,0,.7);
border:3px solid #fff;
border-radius:24px;
color:#fff;
font-family:FontAwesome;
font-size:32px;
height:48px;
line-height:42px;
text-align:center;
transition:background-color .2s ease-out,color .2s ease-out;
width:48px;
bottom:60px;
display:inline-block;
right:-9%;
pointer-events:auto;
position:absolute;
}
#a_19e2_0:hover{
background-color:#fff;
border-color:#fff;
color:#000;
}
#mobile_message{
background:#4CAF50;
border:none;
box-shadow:0 3px 0 1px rgba(0,0,0,.3);
border-radius:3px;
padding:24px 30px;
font-size:15px;
margin-top:-19px;
}
#mobile_message{
background:#C62828;
border:none;
box-shadow:0 3px 0 1px rgba(0,0,0,.3);
border-radius:3px;
padding:24px 30px;
font-size:15px;
margin-top:-19px;
}
#inscription{
padding:136px 0;
background-color:#A81A2C;
background:
/*url(../../img/index/1490621762-157.png)*/ bottom no-repeat,
url(../../img/index/1490616157-3665.png),#A81A2C;
background-size:139% 106px,1px 4px
}
#div_6411_0{
background:#A81A2C;
padding-top:15px;
padding-bottom:35px;
border-radius:4px;
padding-right:10px;
border:2px solid #73000f;
}
#h3_6411_0{
text-align:left;
margin-left:auto;
margin-right:auto;
width:80%;
text-transform:uppercase;
letter-spacing:3px;
margin-bottom:7px;
color:#fff;
}
#p_6411_0{
text-align:left;
margin-left:auto;
margin-right:auto;
width:80%;
padding-bottom:7px;
color:#f6a2ad;
border-bottom:1px solid #28617d;
font-weight:bold;
}
#p_6411_1{
text-align:left;
margin-left:48px;
font-size:14px;
color:#f6a2ad;
padding-bottom:0;
max-width:80%;
margin:0 auto 2px;
}
#p_6411_2{
text-align:left;
margin-left:48px;
font-size:14px;
color:#f6a2ad;
padding-bottom:0;
max-width:80%;
margin:0 auto 2px;
}
#p_6411_3{
text-align:left;
margin-left:48px;
font-size:14px;
color:#f6a2ad;
padding-bottom:0;
max-width:80%;
margin:0 auto 2px;
}
#p_6411_4{
text-align:left;
margin-left:48px;
font-size:14px;
color:#f6a2ad;
padding-bottom:0;
max-width:80%;
margin:0 auto 2px;
}
#div_6411_1{
border:none;
margin:0 auto 0px;
height:32px;
}
#p_6411_5{
line-height:21px;
text-align:left;
font-size:14px;
color:#f6a2ad;
padding-bottom:0;
}
#a_6411_0{
color:#60caff;
text-decoration:underline;
}
#button_6411_0{
box-shadow:0 2px 2px 1px rgba(0,0,0,.3);
font-weight:600;padding:21px 0;
}
#div_6411_2{
background:url(../../img/index/1490626206-3072.png) no-repeat 36px center;
top:142px;
}
#div_3ed7_0{
width:268px;
display:inline-block;
border:none;
margin-right:7px;
}#input_3ed7_0{
padding-right:57px;
border-radius:3px;
}
#imager{
position:absolute;left:201px;
height:77px;
width:64px;
top:-22px;
overflow:hidden;
}
#p_3ed7_0{
position:absolute;
width:122px;
color:white;
top:-27px;
right:156px;
font-size:12px;
padding-bottom:0;
cursor:pointer;
}
#div_3ed7_1{
width:274px;
display:inline-block;
border:none;
}
#button_3ed7_0{
width:150px;
margin-left:10px;
padding:17px 0;
}
#div_36a8_0{
margin-top:-30px;
}
#div_36a8_1{
width:82%;
}
#div_3bf7_0{
margin:7px 2px;
margin-top:4px;
max-width:561px;
}
#h3_3bf7_0{
font-size:36px;
line-height:61px;
}
